<!-- ============================================ -->
<!--                About the Educator            -->
<!-- ============================================ -->

<section id="sbs-1811">
    <div class="cs-container">

        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                    srcset="{{ page.Image }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                    srcset="{{ page.Image }}">
                <img loading="lazy" decoding="async"
                    src="{{ page.Image }}"
                    alt="{{ page.name }}" width="562" height="568">
            </picture>
        </div>

        <div class="cs-content">
            <span class="cs-topper">Meet the Instructor</span>
            <div class="cs-title">{{ page.name }}</div>
            {% assign bio_paragraphs = page.bio | split: "

" %}
            {% for paragraph in bio_paragraphs %}
                <p class="cs-text">{{ paragraph }}</p>
            {% endfor %}
            
            {% if page.Website %}
                <a href="{{ page.Website }}" class="cs-button-solid"
                    aria-label="learn more about {{ page.name }}">Learn More about {{ page.name | split: " " | first }}</a>
            {% endif %}
        </div>
    </div>
</section>