<!-- ============================================ -->
<!--              Meet the Educator               -->
<!-- ============================================ -->

<section id="sbsr-599">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ page.Image }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ page.Image }}">
        <img loading="lazy" decoding="async" src="{{ page.Image }}" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Meet the Educator</span>
            <h2 class="cs-title">{{ page.name }}</h2>
            {% assign bio_paragraphs = page.bio | split: "

" %}
            {% for paragraph in bio_paragraphs %}
                <p class="cs-text">{{ paragraph }}</p>
            {% endfor %}
            
            {% if page.name %}
                {% assign educator_slug = page.name | slugify %}
            <a href="/educators/{{ educator_slug }}" class="cs-button-solid"
                    aria-label="learn more about {{ page.name }}">Learn More about {{ page.name | split: " " | first }}</a>
            {% endif %}
        </div>
    </div>
</section>
                                