<!-- ============================================ -->
<!--            Course Summary Stats              -->
<!-- ============================================ -->

<section id="course-summary-stats">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <span class="cs-number">{{ include.course.duration_hours }}</span>
        <span class="cs-stat-text">Hours Long</span>
      </li>
      <li class="cs-item">
        <span class="cs-number">{{ include.course.lessons }}</span>
        <span class="cs-stat-text">Curated Lessons</span>
      </li>
      <li class="cs-item">
        <span class="cs-number">{{ include.course.review_average}} / 5</span>
        <span class="cs-stat-text">Average Review</span>
      </li>
      <li class="cs-item">
        <span class="cs-number">Certificate</span>
        <span class="cs-stat-text">On Completion</span>
      </li>
    </ul>
  </div>
</section>
