{% assign course = include.course %}
<li class="course-card-item">
    <a href="{{ course.url }}" class="course-card-link" aria-label="go to {{ course['Course Card'].Title }} course">
        <picture class="course-card-picture">
            <img loading="lazy" 
                 decoding="async" 
                 src="{{ course['Course Card'].Image | relative_url }}"
                 alt="{{ course['Course Card'].Title }} course" 
                 width="413" 
                 height="240">
        </picture>
        <div class="course-card-info">
            <h3 class="course-card-title">{{ course['Course Card'].Title }}</h3>
            <p class="course-card-description">
                {{ course['Course Card'].Description }}
            </p>
        </div>
        <div class="course-card-stats">
            <div class="course-card-stat">
                {{ course['Course Card'].Lessons }} Lessons
            </div>
            <div class="course-card-stat">
                {% if course['Course Card']['Runtime Hours'] > 0 %}
                    {{ course['Course Card']['Runtime Hours'] }}h
                {% endif %}
                {% if course['Course Card']['Runtime Minutes'] > 0 %}
                    {{ course['Course Card']['Runtime Minutes'] }}m
                {% endif %}
            </div>
        </div>
        <div class="course-card-overlay">
            <p class="course-card-overlay-description">{{ course['Course Card'].Description }}</p>
            <span class="course-card-overlay-text">Go to Course →</span>
        </div>
    </a>
</li>