<!-- ============================================ -->
<!--             MZed Pro Pricing                 -->
<!-- ============================================ -->

<section id="pricing-1262">
  <div class="cs-container">
    <div class="cs-container-left">
      <div id="get-started">
        <div class="cs-title">
          Ready to Get Started with <span class="title-highlight">MZed Pro?</span>
        </div>
        <p class="cs-text">
          Make a commitment to becoming a better filmmaker, today. Seven-day money-back guarantee
          (<a href="https://www.mzed.com/terms-of-service#section-6" class="cs-link"
            >view full terms here</a
          >).
        </p>
      </div>
    </div>

    <div class="cs-container-right">
      <!-- MZed Pro -->
      <div class="cs-pricing-card">
        <div class="cs-column feature">
          <img src="/assets/icons/MZed-PRO-CMYK.svg" alt="MZed PRO" class="cs-logo" />
        </div>
        <div class="cs-column cs-monthly">
          <div class="cs-title">Monthly Membership</div>
        </div>
        <div class="cs-column cs-annual">
          <div class="cs-title annual">Annual Membership</div>
        </div>
        <div class="cs-row">
          <div class="feature">Monthly price</div>
          <div class="monthly-container">
            <div class="monthly price">${{ site.prices.mzed-monthly }}/month</div>
          </div>
          <div class="annual price">
            $29/month
            <div class="billed-annually">(billed annually)</div>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">Unlimited access to all courses</div>
          <div class="monthly border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">
            Learn from Academy Award and Pulitzer Prize winning educators
          </div>
          <div class="monthly border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">Offline download and viewing with the MZed iOS app</div>
          <div class="monthly border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">
            Industry-recognized certificates upon course completion
          </div>
          <div class="monthly border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">Over $9000 in course value</div>
          <div class="monthly border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-row">
          <div class="feature border-top">7-day money back guarantee</div>
          <div class="monthly border-top"><img src="/assets/icons/no.svg" class="no" /></div>
          <div class="annual border-top">
            <span class="cs-checkmark"><img src="/assets/icons/round-check.svg" /></span>
          </div>
        </div>
        <div class="cs-column feature"></div>
        <div class="cs-column cs-monthly">
          <a class="cs-button cs-button-monthly" href="https://www.mzed.com/checkout/?sku=MZEDPRO1"
            >Join Monthly</a
          >
        </div>
        <div class="cs-column cs-annual">
          <a class="cs-button cs-button-annual" href="https://www.mzed.com/checkout/?sku=MZEDPRO12"
            >Join Annually</a
          >
        </div>
      </div>
    </div>
  </div>

  <script>
    const toggle = document.querySelector('#pricing-1262 .cs-toggle input');
    const subscriptionCard = document.querySelector(
      '#pricing-1262 .cs-pricing-card:not(.cs-course-only)'
    );
    const courseOnlyCard = document.querySelector('#pricing-1262 .cs-course-only');
    const readyText = document.querySelector('#pricing-1262 #get-started');

    toggle.addEventListener('change', function () {
      if (this.checked) {
        subscriptionCard.style.display = 'none';
        courseOnlyCard.style.display = 'grid';
        readyText.innerHTML =
          '<div class="cs-title">Ready to Get Started with <span class="title-highlight">Selling the Punch?</span></div><p class="cs-text">Make a commitment to becoming a better filmmaker, today. Purchase the course and own it for life.</p>';
      } else {
        subscriptionCard.style.display = 'grid';
        courseOnlyCard.style.display = 'none';
        readyText.innerHTML =
          '<div class="cs-title">Ready to Get Started with <span class="title-highlight">MZed Pro?</span></div><p class="cs-text">Make a commitment to becoming a better filmmaker, today. Seven-day money-back guarantee (<a href="https://www.mzed.com/terms-of-service#section-6" class="cs-link">view full terms here</a>).</p>';
      }
    });
  </script>
</section>
