<!-- ============================================ -->
<!--                Stats Strip                  -->
<!-- ============================================ -->

<section id="stats-strip">
    <div class="cs-container">
        <ul class="stats-list">
            <li class="stat-item">
                <span class="stat-number">{{ site.courses.size }}+</span>
                <span class="stat-label">Courses</span>
            </li>
            <li class="stat-item">
                <span class="stat-number">800+</span>
                <span class="stat-label">Lessons</span>
            </li>
            <li class="stat-item">
                <span class="stat-number">370+</span>
                <span class="stat-label">Hours of Content</span>
            </li>
            <li class="stat-item">
                <span class="stat-number">$9,450</span>
                <span class="stat-label">in Course Value</span>
            </li>
        </ul>
    </div>
</section>
