/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  :root {
    --primary: #ea3e33;
    --primaryLight: #fbb01a;
    --secondary: #5db4e4;
    --secondaryLight: #95c456;
    --headerColor: #333;
    --bodyTextColor: #4e4e4e;
    --bodyTextColorWhite: #fafafa;
    /* 16px - 24px */
    --bodyFontSize: 1.1rem;
    --headerFontSize: clamp(2rem, 5vw, 3rem);
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

  // CalibreWeb Bold
  @font-face {
    font-family: 'CalibreWeb-Bold';
    font-style: normal;
    src: local(''),
        url('/assets/fonts/CalibreWeb-Bold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/assets/fonts/CalibreWeb-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  // CalibreWeb Medium
  @font-face {
    font-family: 'CalibreWeb-Medium';
    font-style: normal;
    src: local(''),
        url('/assets/fonts/CalibreWeb-Medium.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/assets/fonts/CalibreWeb-Medium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// CalibreWeb Regular
@font-face {
    font-family: 'CalibreWeb';
    font-style: normal;
    src: local(''),
        url('/assets/fonts/CalibreWeb-Regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/assets/fonts/CalibreWeb-Regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-regular.woff')
        format('woff');

    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/assets/fonts/roboto-v29-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-700.woff')
        format('woff');

    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('/assets/fonts/roboto-v29-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-900.woff')
        format('woff');

    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: var(--bodyFontSize);
    font-family: 'CalibreWeb', 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--bodyTextColor);
    line-height: 1.5;
    background-color: #fff;
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
    font-family: 'CalibreWeb-Bold', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  h1 {
    font-size: var(--headerFontSize);
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  p,
  li,
  a {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
  }
  p,
  li {
    color: var(--bodyTextColor);
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .cs-topper {
    font-family: 'CalibreWeb-Bold', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  body.dark-mode .cs-topper {
    color: var(--secondary);
  }
  .cs-title {
    font-family: 'CalibreWeb-Medium', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: var(--headerFontSize);
    font-weight: 600;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  .cs-button-solid:hover:before {
    width: 100%;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}

// Temporary Navbar

#tempnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #666;
  z-index: 9999;
}

#tempnav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  // padding: 1rem 1rem;
}

#tempnav a:hover {
  // background-color: var(--secondary);
}

#tempnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tempnav li {
  display: inline-block;
  margin: 1rem;
}