/*--        Courses       - -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1169 {
    background-color: #fff;
    padding: var(--sectionPadding);
  }

  #services-1169 .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* changes to 1440px at large desktop */
    max-width: 51.5rem;
    width: 100%;
    /* 48px - 64px */
    gap: 1rem;
  }

  #services-1169 .cs-content {
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    width: 100%;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }

  #services-1169 .cs-title {
    max-width: 20ch;
  }

  #services-1169 .cs-card-group {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    width: 100%;
    padding: 0;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 2.25rem);
  }

  #services-1169 .cs-item {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
    width: 100%;
    list-style: none;
    text-align: left;
    grid-column: span 12;
    max-width: 25rem;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* subtle grey shadow */
  }

  #services-1169 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }

  #services-1169 .cs-item:hover .cs-h3,
  #services-1169 .cs-item:hover .cs-link {
    color: var(--bodyTextColor);
  }

  #services-1169 .cs-item:hover .cs-arrow {
    filter: initial;
  }

  #services-1169 .cs-picture {
    position: relative;
    display: block;
    /* 180px - 240px */
    height: clamp(13.25rem, 24vw, 15rem);
    width: 100%;
    // object-fit: cover;
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
  }

  #services-1169 .cs-picture img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.65s;
  }

  #services-1169 .cs-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    flex-grow: 1;
  }

  #services-1169 .cs-h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.3em;
    font-weight: 700;
    color: var(--headerColor);
    transition: background-color 0.3s;
    text-align: inherit;
    margin: 0 0 1rem 0;
    transition: color 0.3s;
  }

  #services-1169 .cs-educator {
    margin-top: -0.65rem;
    padding-bottom: 1.75rem;
  }

  #services-1169 .cs-item-text {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
    margin: 0;
  }

  #services-1169 .cs-link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    color: #3d31db;
    text-align: inherit;
    margin-top: auto;
    padding-top: 1.75rem;
    transition: color 0.3s;
  }

  #services-1169 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }

  #services-1169 .cs-arrow {
    filter: grayscale(1) brightness(0);
    display: block;
    height: auto;
    width: 1.25rem;
    transition: filter 0.3s, transform 0.3s;
  }

  #services-1169 .course-card-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #b9b9b9;
    padding: 0.5rem 1.6rem;
    // align-items: center;
    // margin-top: 1rem;
  }

  #services-1169 .course-card-stat {
    font-size: 1rem;
    color: white;
    // padding: 0.5rem 1.8rem;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1169 .cs-container {
    max-width: 59rem;
  }

  #services-1169 .cs-item {
    grid-column: span 4;
    max-width: initial;
  }

  #services-1169 .cs-picture {
    height: 11.25rem;
    width: 100%;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1169 .cs-container {
    max-width: 90rem;
  }

  #services-1169 .cs-picture {
    height: 17.25rem;
    width: 100%;
  }
}

/*--           Topics            --*/

.filter-container {
  padding: 2rem;
  // background: #f8f9fa;
  margin-bottom: 2rem;
  grid-area: 1 / span 12;
  width: 70%;
  margin: auto;
}

.filter-title {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #999;
  font-style: italic;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.filter-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-btn.active {
  background: #e31d1c;
  color: white;
  border-color: #e31d1c;
}

.filter-btn:hover:not(.active) {
  background: #f1f1f1;
}

.reset-btn {
  // margin-left: auto;
  background: #999;
  color: white;
  border: none;
}

.reset-btn:hover {
  background: #555 !important;
}

/* Modified display properties */

#services-1169 {
  .cs-item {
    transition: opacity 0.3s ease;
    opacity: 1;
    display: flex;
  }

  .cs-item.hidden {
    opacity: 0;
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }

  @media only screen and (min-width: 0rem) {
    .filter-container {
      width: 100%;
    }
  }

  @media screen and (min-width: 70rem) {
    .filter-container {
      width: 60%;
    }
  }
}

/*--        MZed Stats           -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #mzed-summary-stats {
    padding: var(--sectionPadding);
    background-color: rgba(247, 247, 247, 0.5);
  }

  #mzed-summary-stats .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    padding-bottom: 5rem;
  }

  #mzed-summary-stats .cs-card-group-stats {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    // column-gap: 1.25rem;
    row-gap: 2rem;
    gap: 2.5rem;
    margin-left: -1.5rem;
  }

  #mzed-summary-stats .cs-item-stats {
    list-style: none;
    /* set fixed width so they can all be aligned on the left */
    width: 8.6875rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #mzed-summary-stats .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #mzed-summary-stats .cs-icon {
    width: 2.5rem;
    height: auto;
  }

  #mzed-summary-stats .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  #mzed-summary-stats .cs-number {
    font-size: 1.6rem;
    color: var(--headerColor);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    display: block;
  }

  #mzed-summary-stats .cs-stat {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #mzed-summary-stats .cs-card-group-stats {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
    margin-left: auto;
  }

  #mzed-summary-stats .cs-item-stats {
    width: 14.6875rem;
  }

  #mzed-summary-stats .cs-number {
    font-size: var(--headerFontSize);
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #mzed-summary-stats .cs-card-group-stats {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
