/* Course Card */
.course-card-item {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f7f7f7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: left;
    max-width: 25rem;
    margin: 0 auto;
}

.course-card-item:hover {
    transform: translateY(-4px);
}

.course-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.course-card-item:hover .course-card-title,
.course-card-item:hover .course-card-link {
    color: var(--secondaryColor);
}

.course-card-picture {
    width: 100%;
    height: 240px;
    display: block;
    position: relative;
}

.course-card-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-card-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    min-height: 0;
}

.course-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0;
}

.course-card-educator {
    font-size: 1rem;
    color: #f04e4e;  /* Red color for educator name */
    margin: 0;
    font-weight: 600;
}

.course-card-description {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
    line-height: 1.5;
    flex: 1;
    min-height: 0;
}

.course-card-link {
    color: #4a4af4;  /* Blue color for link */
    font-weight: 500;
    margin-top: auto;
}

.course-card-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #b74848;
    padding: 0.5rem 1.6rem;
}

.course-card-stat {
    font-size: 0.875rem;
    color: #fff;
    font-weight: 500;
}

.course-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.course-card-overlay-text {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.8rem;
}

.course-card-link:hover .course-card-overlay {
    opacity: 0.95;
}

                                

/* Responsive */
@media (max-width: 768px) {
    .course-card-info {
        padding: 1rem;
    }
    
    .course-card-title {
        font-size: 1.25rem;
    }
    
    .course-card-stats {
        padding: 0.75rem 1rem;
    }
} 