---
layout: default
---

<main id="main">
  <!-- ============================================ -->
  <!--                   Image Hero                 -->
  <!-- ============================================ -->

  <section id="video-1314">
    <div class="cs-big-link">
      <!--Background Image-->
      <picture class="cs-background">
        <source media="(min-width: 1024px)" srcset="{{ page.image | relative_url }}" />
        <source media="(min-width: 601px)" srcset="{{ page.image | relative_url }}" />
        <source media="(max-width: 600px)" srcset="{{ page.image | relative_url }}" />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="{{ page.image | relative_url }}"
          alt="{{ page.title }} course image"
          width="1920"
          height="750"
        />
      </picture>
    </div>
  </section>

  <!-- Course Content
  <section id="course-content">
    <div class="cs-container">{{ content }}</div>
  </section> -->

  <!-- ============================================ -->
  <!--                Course Summary                -->
  <!-- ============================================ -->

  <section id="sbs-1015">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">About the Course</span>
        <div class="cs-title">{{ page.landing_title }}</div>
        <p class="cs-text">{{ page.landing_body }}</p>
        <a href="#pricing-1262" class="cs-button-12">
          Start watching with MZed Pro
          <picture class="cs-button-wrapper">
            <img
              class="cs-button-icon"
              src="/assets/icons/angle-arrow.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="28"
              height="28"
            />
          </picture>
        </a>
      </div>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ page.landing_image | relative_url }}" />
        <!--Tablet and above Image-->
        <source media=" (min-width: 601px)" srcset="{{ page.landing_image | relative_url }}" />
        <img
          loading="lazy"
          decoding="async"
          src="{{ page.landing_image | relative_url }}"
          alt="{{ page.title }} course image"
          width="950"
          height="480"
        />
      </picture>
    </div>
    <div class="cs-image-group">
      <picture class="cs-image">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="./assets/images/sony-fx6-camera-lens-mount.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="./assets/images/sony-fx6-camera-lens-mount.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/sony-fx6-camera-lens-mount.jpg"
          alt="sony fx6 camera lens mount"
          width="368"
          height="284"
        />
      </picture>
      <picture class="cs-image">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="./assets/images/sony-fx6-camera-screen-overlay.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="./assets/images/sony-fx6-camera-screen-overlay.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/sony-fx6-camera-screen-overlay.jpg"
          alt="sony fx6 camera screen overlay"
          width="368"
          height="284"
        />
      </picture>
      <picture class="cs-image">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="./assets/images/sony-fx6-camera-lcd-screen.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="./assets/images/sony-fx6-camera-lcd-screen.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/sony-fx6-camera-lcd-screen.jpg"
          alt="sony fx6 lcd screen"
          width="368"
          height="284"
        />
      </picture>
      <picture class="cs-image">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="./assets/images/sony-fx6-camera-action-shot.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="./assets/images/sony-fx6-camera-action-shot.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/sony-fx6-camera-action-shot.jpg"
          alt="sony fx6 action shot"
          width="368"
          height="284"
        />
      </picture>
      <picture class="cs-image">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="./assets/images/sony-fx6-camera-2.jpg" />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="./assets/images/sony-fx6-camera-2.jpg" />
        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/sony-fx6-camera-2.jpg"
          alt="sony fx6 cinema camera with lens"
          width="368"
          height="284"
        />
      </picture>
    </div>
  </section>

  {% include course_stats.html course=page %}

  <!-- MZed Pro Section -->
  {% if page.show_stats %} {% include mzed_pro_section.html section=page.mzed_pro_section %} {%
  endif %}

  <!-- Pricing Section -->
  {% if page.show_pricing %} {% include pricing_section.html pricing=page.pricing %} {% endif %}
</main>

{% if page.custom_js %} {% for js_file in page.custom_js %}
<script src="{{ js_file | relative_url }}"></script>
{% endfor %} {% endif %}
