---
layout: default
---

<main id="main">
  <!-- ============================================ -->
  <!--                  Course Hero                 -->
  <!-- ============================================ -->

  <section id="video-1314">
    <div class="cs-big-link">
      <!--Background Image-->
      <picture class="cs-background">
        <source media="(min-width: 1024px)" srcset="{{ page.image | relative_url }}" />
        <source media="(min-width: 601px)" srcset="{{ page.image | relative_url }}" />
        <source media="(max-width: 600px)" srcset="{{ page.image | relative_url }}" />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="{{ page['Course Card']['Image'] | relative_url }}"
          alt="{{ page.title }} course image"
          width="1920"
          height="750"
        />
      </picture>
    </div>
  </section>

  <!-- Course Content
  <section id="course-content">
    <div class="cs-container">{{ content }}</div>
  </section> -->

  <!-- ============================================ -->
  <!--                Course Summary                -->
  <!-- ============================================ -->

  <section id="sbs-1015">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">About the Course</span>
        <div class="cs-title">{{ page['Course Page']['Main Title'] }}</div>
        <p class="cs-text">
          {% assign paragraphs = page['Course Page']['Main Text'] | newline_to_br %}
          {% for paragraph in paragraphs %}
            {% if paragraph != '' %}
              <br/>{{ paragraph }}
            {% endif %}
          {% endfor %}
        </p>
        <a href="#pricing-1262" class="cs-button-12">
          Start watching with MZed Pro
          <picture class="cs-button-wrapper">
            <img
              class="cs-button-icon"
              src="/assets/icons/angle-arrow.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="28"
              height="28"
            />
          </picture>
        </a>
      </div>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ page['Course Page']['Main Image']  | relative_url }}" />
        <!--Tablet and above Image-->
        <source media=" (min-width: 601px)" srcset="{{ page['Course Page']['Main Image'] | relative_url }}" />
        <img
          loading="lazy"
          decoding="async"
          src="{{ page['Course Page']['Main Image'] | relative_url }}"
          alt="{{ page.title }} course image"
          width="950"
          height="480"
        />
      </picture>
    </div>
    <div class="cs-image-group">
      {% for image in page.additional_images %}
      <picture class="cs-image">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ image | relative_url }}" />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ image | relative_url }}" />
        <img
          loading="lazy"
          decoding="async"
          src="{{ image | relative_url }}"
          alt="{{ image | split: '/' | last | split: '.' | first | replace: '-', ' ' }}"
          width="368"
          height="284"
        />
      </picture>
      {% endfor %}
    </div>
  </section>

  <!-- Course Stats -->
  {% include course_stats.html course=page %}

  <!-- MZed Pro Stats -->
  {% if page.show_stats %} {% include mzed_stats.html section=page.mzed_pro_section %} {% endif %}

  <!-- Pricing Section -->
  {% if page.course_purchase %} {% include course_pricing.html course=page pricing=site.data.prices
  %} {% else %} {% include mzed_pricing.html pricing=site.data.prices %} {% endif %}
</main>

{% if page.custom_js %} {% for js_file in page.custom_js %}
<script src="{{ js_file | relative_url }}"></script>
{% endfor %} {% endif %}
