<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}
    </title>

    <meta
      name="description"
      content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"
    />

    <link
      rel="canonical"
      href="{{ page.canonical_url | default: page.url | replace:'index.html','' | absolute_url }}"
    />

    <!-- Include default stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"> {% if page.custom_css
    %} {% for css_file in page.custom_css %}
    <link rel="stylesheet" href="{{ css_file | relative_url }}" />
    {% endfor %} {% endif %}

    <!-- Add any additional head items from the page frontmatter -->
    {% if page.head %} {{ page.head }} {% endif %}
  </head>
  <body>
    <!-- temporary nav -->
    <nav id="tempnav">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/courses/">Courses</a></li>
        <li><a href="{{ site.baseurl }}/educators/">Educators</a></li>
        <li><a href="{{ site.baseurl }}/news/">News</a></li>
      </ul>
    </nav>

    <!-- Content from page or layout -->
    {{ content }}

    <!-- Include default scripts -->
    {% if page.custom_js %} {% for js_file in page.custom_js %}
    <script src="{{ js_file | relative_url }}"></script>
    {% endfor %} {% endif %}
    
    <!-- GitHub Pages URL fix -->
    <script src="{{ '/assets/js/url-fix.js' | relative_url }}"></script>

  </body>
</html>
