---
title: Courses
permalink: "/courses/"
layout: default
custom_css:
- "/assets/css/main.css"
- "/assets/css/components/course-card.css"
---

{% assign page = site.pagecontent | where: "slug", "courses" | first %}

<!-- ============================================ -->
<!--                Courses                       -->
<!-- ============================================ -->

<main id="main">
  <section id="courses">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">{{ page['Header']['Topper'] }}</span>
        <div class="cs-title">{{ page['Header']['Title'] }}</div>
        <p class="cs-text">{{ page.Header.Text }}</p>
      </div>
      <ul class="cs-card-group">
        <!-- Topics -->
        <div class="filter-container">
          <div class="filter-title">Filter Courses by Topic</div>
          <div class="filter-buttons">
            <button class="filter-btn" data-topic="audio">Audio</button>
            <button class="filter-btn" data-topic="cinematography">Cinematography</button>
            <button class="filter-btn" data-topic="color-grading">Color Grading</button>
            <button class="filter-btn" data-topic="directing">Directing</button>
            <button class="filter-btn" data-topic="editing">Editing</button>
            <button class="filter-btn" data-topic="filmmaking">Filmmaking</button>
            <button class="filter-btn" data-topic="lighting">Lighting</button>
            <button class="filter-btn" data-topic="photography">Photography</button>
            <button class="filter-btn" data-topic="producing">Producing</button>
            <button class="filter-btn" data-topic="screenwriting">Screenwriting</button>
            <button class="filter-btn" data-topic="visual-storytelling">Visual Storytelling</button>
            <button class="filter-btn" data-topic="podcasting">Podcasting</button>
            <button class="filter-btn reset-btn">Reset Filters</button>
          </div>
        </div>

        {% assign sorted_courses = site.courses | sort: "position", "last" %}
        {% for course in sorted_courses %}
          {% include course_card.html course=course %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- MZed Pro Section -->
  {% include mzed_stats.html section=page.mzed_pro_section %}

  <!-- Pricing Section -->
  {% include mzed_pricing.html %}
</main>

<script defer src="/assets/js/courses-index.js"></script>